
body{
    color: white;
}
p{
    color: white;
}
h1{
    color: white;
}
button{
    background-color: rgb(26, 26, 26);
    padding: 20px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
button:hover {
    box-shadow: 0 5px 15px rgba(255, 0, 0, 0.4);
}

.cast {
    background-color: rgb(233, 230, 230);
    transition: 0.3s;
    display: inline;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    margin-left: 10px;
    float: inline-start;
    color: rgb(0, 0, 0);
  }
  
  .cast:hover {
    box-shadow: rgba(255, 0, 0, 0.56) 0px 22px 70px 4px; 
    transform: scale(1.05);
  }

.cast h4{
    display:none;
}
.cast:hover h4{
    display:flex;
}
 .cast img {
    max-width: 60px;
    border-radius: 10px;
  }
  
.casts {
    padding: 2px 16px;
    visibility: none;
}
.casts:hover {
    visibility: visible;
}

.maincard{
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
    height: 500px;
    padding: 35px;
    border-radius: 20px;
    /*box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;*/
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(233, 230, 230);
    font-weight: 600;
    text-shadow: 2px 2px 10px #000000,
    -2px 1px 30px #000000;
}

.options img{
    border-radius: 20px;
    height: 500px;
    float:right;
    /*box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;*/
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    margin-top: -90px;
}   

.filmcast{
    background-color: rgb(228, 228, 228);
    border-radius: 20px;
    padding: 35px;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
    height: 135px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
}
.filmcast::-webkit-scrollbar {
    display: none;
  }

.options button {
    color: #000000;
    margin-right: 5px;
    border: none;
    padding: 0.7em 1.9em;
    font-size: 18px;
    border-radius: 20px;
    background: #d3d3d3;
    transition: all .4s;
    opacity: 100%;
    /* box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px; */
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
   }
   
.options button:hover {
    background-color: rgb(243, 243, 243);
    box-shadow: 4px 4px 12px #c5c5c5;
   }
   
.options button:active {
    box-shadow: 4px 4px 12px #c5c5c5;
}
.similarmain{
    background-color: rgb(228, 228, 228);
    border-radius: 20px;
    padding: 35px;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
    height: 135px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
}

.similarmain::-webkit-scrollbar {
    display: none;
  }

  .similarinnhold {
    background-color: rgb(233, 230, 230);
    transition: 0.3s;
    display: inline;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    margin-left: 10px;
    float: inline-start;

  }
  
  .similarinnhold:hover {
    box-shadow: rgba(255, 0, 0, 0.56) 0px 22px 70px 4px; 
    transform: scale(1.05);
  }

.similarinnhold h3{
    display:none;
}
.similarinnhold:hover h3{
    display:flex;
}
.similarinnhold img {
    max-width: 60px;
    border-radius: 10px;
  }
  
