/*
Box shadows hentet fra https://getcssscan.com/css-box-shadow-examples
Original card style hentet fra https://w3schools.com/
*/
.card {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    transition: 0.3s;
    max-width: 300px;
    border-radius: 5px;
    max-height: 800px;
    overflow: hidden;
    border-radius: 30px;
    background-color: rgb(218, 218, 218);
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 30px;   
  }
  
  .card:hover, .card:focus {
    box-shadow: rgba(0, 4, 255, 0.56) 0px 22px 70px 4px; 
    transform: scale(1.05);
  }
  
  img {
    border-radius: 5px 5px 0 0;
  }
.logo{
    position: absolute;
    top: 55px;
    right: 30px;
}

.container {
    padding: 2px 16px;
    visibility: none;
}
.container:hover {
    visibility: visible;
}

.pagination {
    border-right: 1px solid #ddd;
}
.movies{
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
}
.movies:nth-child(3n) {
    break-after: always; /* CSS 3 syntax */
  }

a{
    text-decoration: none;
    color: black;
}
body{
    background-color: rgb(255, 255, 255);
}
p{
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}
h4{
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}
h1{
    color: rgb(218, 218, 218);
    font-size: 125px;
    font-family: sans-serif;
    font-weight: 1000;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}
h2{
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-family: sans-serif;
}

.pagination{
    display: flex;
    margin: 10px 30px;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-family: sans-serif;
    border-radius: 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    max-width: 60%;
    background-color: rgb(218, 218, 218);
}
.pagination li{
    display: flex;
    color: rgb(0, 0, 0);
    padding: 5px;
}
.active a{
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 15px;
    background-color: rgb(156, 156, 156);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

}
.active span{
    display: none;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
}
.disabled span{
    font-family: sans-serif;
    color: rgb(0, 0, 0);
}
.page-item{
    margin-right: 10px;
    margin-left: 10px;
}
.page-link{
    color: rgb(0, 0, 0);
}
.search{
    float: center;
    padding: 20px;
    border-radius: 20px;
    border: none;
    margin-top: 8px;
    margin-right: 20px;
    font-size: 20px;
    border: none;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    background-color: rgb(218, 218, 218);
  }
  .search:hover, .search:focus{
    box-shadow: rgba(0, 4, 255, 0.56) 0px 22px 70px 4px;
  }
.searchtitle{
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 30px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    background-color: rgb(218, 218, 218);
    padding: 15px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.searchtitle:hover{
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 30px;
    box-shadow: rgba(0, 255, 242, 0.56) 0px 22px 70px 4px;
    background-color: rgb(0, 255, 242);
    padding: 15px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.btnsearch{
    color: rgb(0, 0, 0);
    background-color: rgb(218, 218, 218);
    padding: 25px;
    border-radius: 20px;
    border: none;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.btnsearch:hover{
    background-color: red;
    box-shadow: rgba(255, 0, 0, 0.56) 0px 22px 70px 4px;
}

