<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheets/filmdesc.css">
    <title>{{Movies.title}} - Webflix</title>
</head>
<body>

    <a href="/Hjem"><button>Hjem</button></a>
<div class="maincard" style="background-image: url('https://image.tmdb.org/t/p/original{{Movies.backdrop_path}}');">
    <div class="fullopacity">
    <h1>{{Movies.title}} - {{Movies.release_date[:-6]}}</h1>    
    <div class="options">
        <a href="{{Flink}}"><button>{{filmeksistanse}}</button></a>
        <a href="/Leggtil?id={{Movies.id}}"><button>Legg til film</button></a>
        <a href="/Radarr?id={{Movies.id}}"><button>Hunt filmen</button></a>
        <a href="/Filmsletter?id={{Movies.id}}"><button>Slett filmen</button></a>
        <img src="https://image.tmdb.org/t/p/w500{{Movies.poster_path}}"/>
    </div>
    <div class="moviedesc">
    <p>{{Movies.overview}}</p>
    <iframe src='https://www.youtube.com/embed/{{youtube}}' frameborder='0' allowfullscreen></iframe>
    <p> <b>Rating: </b>{{Movies.vote_average}}</p>
    <div class="filmtype">
    <p><span><b>Sjanger:</b></span>
        {%for genre in Movies.genres %}
        {{genre.name}},
        {% endfor %}
    </p>
</div>
<div class="filmprodland">
    <p><span><b>Produsert i:</b></span>
        {% for country in Movies.production_countries %}
        {{country.name}},
        {% endfor %}
    </p>
</div>
</div>
</div>
</div>
<div class="filmcast">
    {%for crew in Crews.cast %}
        <div class="cast">
            <img src="https://image.tmdb.org/t/p/w500{{crew.profile_path}}" alt="{{crew.name}}"/>
            <h4>{{crew.name}}</h4>
            <h5>{{crew.character}}</h5>
            <div class="casts">
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="similarmain">
        {%for similar in Similar %}
        <div class="similarinnhold">
        <a href="/Movie_Detail?id={{similar.id}}"><img src="https://image.tmdb.org/t/p/w500{{similar.poster_path}}" alt="{{similar.title}}"></a>
        <h3>{{similar.title}}</h3>
    </div>
        {% endfor %}
    </div>
</body>
</html>