<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheets/filminput.css">
    <title>{{Movies.title}} - filmadder</title>
<script>
const file = document.querySelector('#file');
file.addEventListener('change', (e) => {
  // Get the selected file
  const [file] = e.target.files;
  // Get the file name and size
  const { name: fileName, size } = file;
  // Convert size in bytes to kilo bytes
  const fileSize = (size / 1000).toFixed(2);
  // Set the text content
  const fileNameAndSize = `${fileName} - ${fileSize}KB`;
  document.querySelector('.file-name').textContent = fileNameAndSize;
});
</script>
</head>
<body>
<center>
<div class="innholdmain">
    <p>Film id = {{Movies.id}}</p>
    <p>Film navn = {{Movies.title}}</p>
    <a href="/Movie_Detail?id={{Movies.id}}"><button    >Gå tilbake</button></a><br><br><br><br>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
</div>
</center>

</body>
</html>