<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheets/hjem.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>WEBFLIX</title>
</head>
<body>
    <center>
    <h1>WEBFLIX</h1>
    <h2>Av Jonas Johansen</h2>
</center>
<nav class="searchnav">
    <a class="navbar-brand" href="/Hjem">
        WEBFLIX
    </a>
        <input class="search" type="search" placeholder="Search" aria-label="Search" id="query">
        <button class="btnsearch" onclick="myFunction()">Søk</button>
        <script>
            function myFunction() {
                query = document.getElementById("query").value;
                window.open('/Search?query=' + query, "_self")
            }
        </script>
    </div>
</nav>
{{pagination.links}}
    <div class="movies" id="movies">
        {% for movies in Movies %}
        <div class="card">
            <a href="/Movie_Detail?id={{movies.id}}">
          <img src="https://image.tmdb.org/t/p/w500{{movies.poster_path}}" alt="Avatar" style="width:100%">
          <div class="container">
            <h4><b>{{movies.title}}</b> - {{movies.release_date}}</h4> 
            <p><b>Rating - {{movies.vote_average}}</b></p>
          </div>
        </a>    
        </div>
        {% endfor %}
    </div>
    {{pagination.links}}
</body>
</html>