<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{details.username}} - WEBFLIX</title>
</head>
<body>
    <center>
    <h1>Du er logget inn</h1>
    <p>{{details.username}}</p>
    <p>{{details.id}}</p>
    <p>{{auth.expires_at}}</p>
    <a href="https://api.themoviedb.org/3/account/{{details.id}}/watchlist/movies?api_key={{apikey}}&session_id={{sesskey}}&language=en-US&sort_by=created_at.asc&page=1">Sjekk watchlist query</a>
</center>
</body> 
</html>
