<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{Movies.title}} - WEBFLIX</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/castStyles.css">
</head>
<body>
<div class="block">
    <div class="details">
        <div class="img">
            <img src="https://image.tmdb.org/t/p/w500{{Movies.poster_path}}"/></div>
        <div class="info">
            <h1>{{Movies.title}}</h1>
            <p><span>Beskrivelse:</span></p>
            <p>
                {{Movies.overview}}
            </p>
            <p><span>Land:</span>
                {% for country in Movies.production_countries %}
                {{country.name}},
                {% endfor %}
            </p>
            <p><span>Lanseringsdato:</span>
                {{Movies.release_date}}
            </p>
            <p><span>Type film:</span>
                {%for genre in Movies.genres %}
                {{genre.name}},
                {% endfor %}
            </p>
        </div>
    </div>
    <div>
        {%for crew in Crews.cast %}
        <div class="media border p-3" style="max-width: 100px; display:flex; display: flex; flex-flow: row wrap; align-content: space-between; justify-content: space-between;">
                <img src="https://image.tmdb.org/t/p/w500{{crew.profile_path}}" alt="{{crew.name}}" class="mr-3 mt-3 rounded-circle" style="width:60px;"/>
                <div class="media-body">
                <h4>{{crew.name}}</h4>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="trailer">
        <div>Se trailer:</div>
        <iframe src='https://www.youtube.com/embed/{{youtube}}' frameborder='0' allowfullscreen></iframe>
    </div>
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
    $('.slider-star').slick({
        infinite: true,
        slidesToShow: 4,
        slidesToScroll: 1,
        autoplay: true,
    });
</script>
</body>
</html>