<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WEBFLIX</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/stylesheets/hjem.css">
    <style>
        .title-header {
            padding: .75rem 1.25rem;
            background-color: #f5f5f5;
            border-bottom: 1px solid transparent;
        }

        .title-header h3 {
            font-size: 0.80rem;
            margin: 0;
        }

        .movies {
            margin-top: 2rem;
        }

        .img-card {
            width: 100%;
            margin-bottom: .40rem;
        }

        .movies {
            margin-bottom: .60rem;
        }
    </style>
</head>
<body>
<nav class="searchnav">
    <a class="navbar-brand" href="/Hjem">
        WEBFLIX
    </a>
        <input class="search" type="search" placeholder="Search" aria-label="Search" id="query">
        <button class="btnsearch" onclick="myFunction()">Søk</button>
        <script>
            function myFunction() {
                query = document.getElementById("query").value;
                window.open('/Search?query=' + query, "_self")
            }
        </script>
    </div>
</nav>
    <div class="movies" id="movies">
        {% for movies in Movies %}
        <div class="card">
            <a href="/Movie_Detail?id={{movies.id}}">
          <img src="https://image.tmdb.org/t/p/w500{{movies.poster_path}}" alt="Avatar" style="width:100%">
          <div class="container">
            <h4><b>{{movies.title}}</b> - {{movies.release_date}}</h4> 
            <p><b>Rating - {{movies.vote_average}}</b></p>
          </div>
        </a>    
        </div>
        {% endfor %}
    </div>
</body>
</html>
